footer {
  display: flex;
  position: fixed;
  bottom: 15px;
  right: 15px;
  gap: 15px;
}

a {
  background-color: rgb(31, 31, 31);
  border-radius: 100%;
  line-height: 0;
  padding: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.123);
}

a:hover {
  filter: brightness(80%);
  cursor: pointer;
}

svg {
  fill: white;
}